@import 'mixins';
@import 'variables';

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

main {
  background-image: url("../images/planet-earth.jpg");
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

h1 {
  color: #fff;
  font-size: 48px;
  grid-area: 1 / 2 / 2 / 20;
  text-align: center;
  }

.login-form {
  color: #fff;
  display: flex;
  grid-area: 10 / 7 / 18 / 15;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  justify-content: center;

  h2 {
    margin-bottom: 7%;
    text-align: center;
  }
  #login-form {
    align-items: center;
    background-color: $boxColor;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -1px $boxShadow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
 }

  .login-button {
    @include loginElements(10%, 85%)
    margin-top: 15%;
  }

  p {
    @include loginElements(4%, 80%)
    margin: 10%, 0, 10%, 0;
  }
}
.user-name {
  @include loginElements(8%, 80%)
  border: none;
}

.password {
  @include loginElements(8%, 80%)
  border: none;
}

.agency-page {
  display: grid;
  grid-area: 4 / 1 / 21 / 21;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  .agency-greeting {
    color: #fff;
    font-size: 28px;
    grid-area: 1 / 2 / 2 / 20;
    margin: 0;
    text-align: center;
  }
  .pending-trips-display {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: 2 / 2 / 10 / 10;
    justify-content: space-around;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .total-revenue-display {
    align-items: center;
    background-color: $boxColor;
    box-shadow: 0px 0px 10px -1px $boxShadow;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: 5 / 11 / 10 / 14;
    justify-content: space-around;
  }
  .current-travelers-display {
    align-items: center;
    background-color: $boxColor;
    box-shadow: 0px 0px 10px -1px $boxShadow;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: 5 / 15 / 10 / 20;
    justify-content: space-around;
  }

  .user-search {
    align-items: center;
    background-color: $boxColor;
    box-shadow: 0px 0px 10px -1px $boxShadow;  border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: 2 / 11 / 4 / 20;
    justify-content: space-around;
  }

  .pending-trip {
    @include tripsContainer(50%, 40%)
  }
}

.requested-user-page {
  display: grid;
  grid-area: 4 / 1 / 21 / 21;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);

  .requested-user-info {
    background-color: $boxColor;
    box-shadow: 0px 0px 10px -1px $boxShadow;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: 2 / 6 / 10 / 16;
  }

  .users-trips {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .trip {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 60%;
    margin-bottom: 5%;
    width: 45%;

  .destination-image {
    border-radius: 5px;
    height: 50%;
    width: 100%;
  }
  .user-info {
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
  }
}

.traveler-page {
  display: grid;
  grid-area: 4 / 1 / 21 / 21;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  .all-trips {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: 2 / 8 / 10 / 14;
    justify-content: space-around;
  }
  .total-spent {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: 2 / 6 / 10 / 7;
    justify-content: space-around;
  }

  .trip-request-form {
    align-items: center;
    background-color: $boxColor;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -1px $boxShadow;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: 2 / 15 / 10 / 20;
    justify-content: space-around;

    .name {
      background: #fff;
    }

    #start-date {
      background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    }

    #start-date::-webkit-inner-spin-button {
      display: none;
    }

    #start-date::-webkit-calendar-picker-indicator {
      opacity: 0;
    }

    #end-date {
      background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    }

    #end-date::-webkit-inner-spin-button {
      display: none;
    }

    #end-date::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    label {
      display: block;
    }
    input {
      background-color: $boxColor;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      box-shadow: 0px 0px 10px -1px $boxShadow;
      border-radius: 5px;
      padding: 3px 5px;
      width: 190px;
    }
  }

  .traveler-greeting {
    color: #fff;
    font-size: 28px;
    grid-area: 1 / 2 / 2 / 20;
    margin: 0;
    text-align: center;
  }

  .past-trips {
    @include tripsContainer(20%, 80%)
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .present-trips {
    @include tripsContainer(20%, 80%)
  }
  .future-trips {
    @include tripsContainer(20%, 80%)
  }
  .pending-trips {
    @include tripsContainer(20%, 80%)
  }
  .total {
    @include tripsContainer(20%, 80%)
  }
}

.requested-trip {
  background-color: $boxColor;
  box-shadow: 0px 0px 10px -1px $boxShadow;
  border-radius: 5px;
  color: #fff;
  display: grid;
  grid-area: 2 / 1 / 11 / 21;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 1;
  .trip-info {
    background-color: $boxColor;
    }
}

.destination-image {
  height: 50px;
  width: 50px;
}

.hide {
  display: none;
}
