@import 'mixins';

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  height: 100vh;
  background-image: url("../images/planet-earth.jpg");
  object-fit: cover;
  object-position: center;
}

h1 {
  color: #fff;
  font-size: 48px;
  grid-area: 1 / 2 / 2 / 20;
  text-align: center;
  }

.login-form {
  border: 2px solid red;
  border-radius: 5px;
  display: flex;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  grid-area: 10 / 9 / 18 / 13;
  justify-content: center;

  h2 {
    text-align: center;
    margin-bottom: 7%;
  }
  #login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .user-name {
    @include loginElements(8%, 80%)
  }

  .password {
    @include loginElements(8%, 80%)
  }

  .login-button {
    @include loginElements(10%, 85%)
    margin-top: 15%;
  }

  p {
    @include loginElements(4%, 80%)
    margin: 10%, 0, 10%, 0;
  }
}

.hide {
  display: none;
}
